/* 
  Global styles 

  Low-specificity, global styles that apply to the whole 
  project: https://cube.fyi/css.html
*/
body {
  color: var(--color-dark-grayish-blue);
  line-height: 1.6;
  font-size: var(--size-base);
  font-family: var(--font-base);
  font-weight: 500;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: auto;
}

h1 {
  font-size: var(--size-step-3);
  line-height: 1;
}

h2 {
  font-size: var(--size-step-2);
}

h3 {
  font-size: var(--size-step-1);
}

h4 {
  font-size: var(--size-base);
}

:is(h1, h2, h3, h4) {
  font-family: var(--font-heading);
  font-weight: 700;
  color: var(--color-very-dark-blue);
}

a {
  color: currentColor;
  text-decoration-thickness: 2px;
  text-underline-offset: 0.2ex;
}

a:hover {
  text-underline-offset: 0.1ex;
}

time {
  display: block;
  font-style: italic;
}

p,
li,
dl,
blockquote,
figcaption {
  max-width: 65ch;
}
